.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(105, 63, 146);
    padding: 23px;
    color: white;
}

.btn {
    color: black;
    background-color: rgb(111, 134, 88);
    border: none;
    border-radius: 12px;
    padding: 12px 18px;
    width: fit-content;
}

.h3 {
    text-decoration: underline;
}