* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 24px 40px;
  font-size: 26px;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  transition: 500ms;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
  border-color: white;
}